@import 'init.css';

body {
  background-color: #e1c6d4;
  font-family: Arial, sans-serif;
}

#about-container ul,
#about-container p {
  margin-bottom: 30px;
  font-size: 16px;
}

#about-container ul {
  list-style: none inside none;
}

#about-container ul li {
  margin-bottom: 5px;
}

#about-container a {
  text-decoration: underline;
}

#about-container a:hover,
#about-container a:focus {
  text-decoration: none;
  background-color: black;
  color: white;
}
