<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vikadilly</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>I do software engineering and art</p>

    <br/>
    <br/>

    <h4> Check out some of my work </h4> 
    <p> <a href="https://github.com/vikadilly/homebrewed"> 👨‍💻 The official directory for finding decent places in London to work in (from cafés to outdoor spaces with good signal)</a> </p>
    <p> <a href="https://github.com/vikadilly/warmupbot"> 👨‍💻 Creative Routine Generator for helping creatives warm up </a> <p>
    <p> <a href="https://www.youtube.com/watch?v=dD417kCz92w&t=34s&ab_channel=ProbablyBlue"> 🎥 Machine Learning model to predict ENT cancer from HPV for a contest (we won) </a> <p>
    <p> <a href="https://blogs.nottingham.ac.uk/makingsciencepublic/2017/09/15/turning-bacteria-passwords/"> 📰 University of Nottingham writing about my attempt to turn bacteria into cryptographic secure passwords </a> <p>


  </main>
</body>
</html>
