<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bhurghundii</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>I am a software engineer and an artist.</p>
    <p>Figuring out your retirement @ Vanguard in London.</p>
    <p>From Bombay</p>
    <br />
    <div>
      <div>
        <b> Currently Working on </b>
          <p>Helping school kids practice for the traumatic event that is the foreign language speaking exam.</p>
    </div>
      <br />
      <div>
        <b> Projects </b>
          <a href="https://www.pickoneatrandom.com/"> 🍔 An app which defeats decision fatigue. This is amazing for figuring what takeout to get.</a>
          <a href="https://github.com/bhurghundii/Bam-Bam"> 📕 Under 200 LOC note taking software because I hate OneNote </a>
          <a href="https://github.com/bhurghundii/breadcrumb"> 🎨 An Ar.ena rip off. I didn't want to pay for the membership. I wound up doing it anyways.</a>
          <a href="https://github.com/bhurghundii/cloudian-lang"> 🐭 A small language for generating AWS diagrams because I hate using a mouse (Neovim 4 life)</a>
          <a href="https://github.com/bhurghundii/ORLIAn"> 🦀 Identifying cancer for ENT patients for the Epidemium data contest hosted by Roche (we won)</a>
          <a href="https://github.com/bhurghundii/Moxie"> 🕵 Created a P2P social network using Tor because I was angry at Twitter</a>
          <a href="https://github.com/bhurghundii/ORLIAn"> 🕵 Created cryptographically secure passwords out of bacteria when I was 19. Raised £30,000 in funding</a>
    </div>
      <br />
      <div>
        <b> Stuff written about me </b>
          <a href="https://blogs.nottingham.ac.uk/makingsciencepublic/2017/09/15/turning-bacteria-passwords//"> Uni of Nottingham talking about my research </a>
        </ul>
      </div>
      <div> 
        <b> Publications </b>
          <a href="https://blogs.nottingham.ac.uk/makingsciencepublic/2017/09/15/turning-bacteria-passwords//"> Uni of Nottingham talking about my research </a>
        </ul>
      </div>
      </div>
      <br />
      <div>
        <b> Socials </b>
          <a href="https://www.linkedin.com/in/vikramaditya-chhapwale-600309154/"> LinkedIn </a>
          <a href="https://www.instagram.com/bhurghundii/"> Instagram </a>
          <a href="https://www.are.na/bhurghundii-c/channels"> My Ar.ena </a>
        </ul>
      </div>
  </main>
</body>
</html>
