<nav>
  <a class="logo-link" href="/">
    <h1>★ Bhurghundii</h1>
    <span>software engineer and artist</span>
  </a>
  <small>
    <a href="https://spotofbhurghundii.substack.com/"> Substack </a>
    <a href="https://www.linkedin.com/in/vikramaditya-chhapwale-600309154/"> LinkedIn </a>
    <a href="https://www.instagram.com/bhurghundii/"> Instagram </a>
    <a href="https://www.are.na/bhurghundii-c/channels"> Are.na </a>
    /
    <a id="about" class="info-link" href="/about.html">👀About</a> /
    <a id="works" class="info-link" href="/works.html">🔥Works</a> /
    <a id="articles" class="info-link" href="/articles.html">📚Articles</a>
  </small>
</nav>
